.Qmenu{
    border: 5px solid gray;
    margin-left: 100px;
    margin-top:70px;
    width: 280px;
    height: auto;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.66);
  
  }
  
  .Qtitle{
    text-align: left;
    background-color: rgba(219, 226, 29, 0.762);
  }
  
  .Qitem{
    border: 5px solid rgb(0, 0, 0);
    margin-left: 380px;
    margin-top:-167px;
    margin-bottom:30px;
  
    width: 100%;
    max-width: 990px;
  
    height: 560px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.66);
  }
  
  
  a { text-decoration:none }
  
  @media screen and (max-width: px) {
    .questwhole{
      width: 100%;
      max-width: 600px;
    }
    .Qmenu{
      width: 0px;
      height: 0px;
      padding: 0px;
      font-size: 100px;
    }
    .Qitem{
      width: 100%;
      max-width: 600px;
    }
  }