.foam{
    background-color:rgba(0, 0, 0, 0.582);
    color: #fff; 
    border: 1px solid rgb(0, 0, 0);
    width: auto;
    max-width: 420px;
    height: auto;
    margin-left: 560px;
}

.allbutton{
    justify-content: center;
  align-items: center;
  text-align: center;
}

.fresh{
  
  width: 56px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
